* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline:  1px solid rgba(255, 0, 0, 0.2);*/
}

.container {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: 400vh;
}

.lottie-progress {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 47%;
  right: 50%;
  transform: translate(50%, -50%);
}
