* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-element {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: 400vh;
}

.lottie-animation {
  width: 100vw;
  height: auto;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}